Source: indicator-stocks
Section: net
Priority: extra
Maintainer: Sergej Sawazki <ce3a@gmx.de>
Build-Depends: debhelper (>= 8.0.0), cli-common-dev (>= 0.7.1), libappindicator0.1-cil-dev (>= 0.0.19), libglib2.0-cil-dev (>=2.12.10)
Standards-Version: 3.9.4
Homepage: https://github.com/ce3a/indicator-stocks
Vcs-Git: git@github.com:ce3a/indicator-stocks.git
Vcs-Browser: https://github.com/ce3a/indicator-stocks

Package: indicator-stocks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mono-runtime, libappindicator0.1-cil, libmono-system-xml-linq4.0-cil
Description: A simple ubuntu unity stocks indicator
