Package: indicator-stocks
Version: 0.1.0-1
Architecture: amd64
Maintainer: Sergej Sawazki <ce3a@gmx.de>
Installed-Size: 95
Depends: mono-runtime
Section: net
Priority: extra
Description: A simple ubuntu unity stocks indicator
 <insert long description, indented with spaces>
